.rectangle {
    position: relative;
    margin: auto;
    width: 256px;
    height: 80px;
    box-shadow:inset 0px 0px 0px 10px rgb(28, 28, 28);
    border-radius: 10px;
}

.left, .right, .top, .bottom {
    position: absolute;
}

.left, .right {
    height: 70px;
    width: 10px;
}

.bottom, .top {
    height: 10px;
    width: 246px;
}

.right {
    right: 0px;
    bottom: 10px;
    border-radius: 0 50px 0 0;
}

.bottom {
    bottom: 0px;
    left: 10px;
    border-radius: 0 0 50px 0;
}

.left {
    bottom: 0px;
    top: 10px;
    border-radius: 0 0 0 50px;
}

.top {
    right: 10px;
    border-radius: 50px 0 0 0;
}

@keyframes right1 {
    0% {height: 70px }
    100% { height: 0px;}
}

@keyframes bottom1 {
    0% {width: 246px }
    100% { width: 0px;}
}

@keyframes left1 {
    0% {height: 70px }
    100% { height: 0px;}
}

@keyframes top1 {
    0% {width: 246px }
    100% { width: 0px }
}